* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./contact-form";
@import "./contact-profile-banner";

html {
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(
    112deg,
    #f6f2ec 0.5%,
    rgba(255, 238, 213, 0.75) 45%,
    #f6f2ec 85%,
    #ffffff 100%
  );
  h2 {
    font-size: 2.25rem;
    font-weight: 800;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h4 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    padding: 0.25rem 0;
  }
  p {
    font-size: 1.125rem;
  }
  select, input {
    background: none;
    border: none;
    outline: none;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.125rem;
  }
  button:hover {
    cursor: pointer;
  }
}


